body {
	text-align: center; 
	background-color: rgb(53,0,94);
	color: white;
	margin-left: -20px;
	margin-right: -20px;
}

h1 {
	text-align: center;
	font-size: 50px;
	color: white;
	font-weight: bold;
	font-family: georgia; 
}

h2 {
	text-align:center;
	font-size: 25px;
	color: white;
	font-weight: bold;
	font-family: georgia; 
	background-color: white;
	color: rgb(53,0,14);
	font-weight: bold;

}
p {
	border-style: solid;
}

th {
	text-align: center;
} 

#footer {
	background-color: white; 
	color: black; 
}

/* #myCarousel
{
  width:640px;
  height:360px;

}  */
/* #container
{
	width:640px;
    height:360px;

} */
button {
	text-align: center;
	color: rgb(53,0,94);
	font-weight: bolder;
	font-size: 20px;
	border-style: solid;
	border-color: black;
	background-color: white;
	width: 109%;
}

#logo {
	text-align: left;
} 


#logo1
{
	display: inline-block;
	text-align: right;
	width:4%;
	height:4%
}
#logo2
{
	text-align: left;
	width:4%;
	height:4%
}
#logo3
{
	text-align: left;
	width:4%;
	height:4%
}
#logo4
{
	text-align: left;
	width:4%;
	height:4%
}
#logo5
{
	text-align: left;
	width:4%;
	height:4%
}
#logo6
{
	text-align: left;
	width:4%;
	height:4%
}
#logo7
{
	text-align: left;
	width:4%;
	height:4%
}
#logo8
{
	text-align: left;
	width:4%;
	height:4%
}
#logo9
{
	text-align: left;
	width:4%;
	height:4%
}
#logo10
{
	text-align: left;
	width:4%;
	height:4%
}
#logo11
{
	text-align: left;
	width:4%;
	height:4%
}
#logo12
{
	text-align: left;
	width:4%;
	height:4%
}
#logo13
{
	text-align: left;
	width:4%;
	height:4%
}
#logo14
{
	text-align: left;
	width:4%;
	height:4%
}
#logo15
{
	text-align: left;
	width:4%;
	height:4%
}
#logo16
{
	text-align: left;
	width:4%;
	height:4%
}
#logo17
{
	text-align: left;
	width:4%;
	height:4%
}
#logo18
{
	text-align: left;
	width:4%;
	height:4%
}
#logo19
{
	text-align: left;
	width:4%;
	height:4%
}
#logo20
{
	text-align: left;
	width:4%;
	height:4%
} 
#Fixture
{
	/* width: 63%;
	height: 45%;  */
	text-align: center-fixed;
	font-size: 14px; 
	border-style: solid;
	border-color: black;
	border-bottom: 1px solid #ddd;
	
}
#Ladder
{
	/* width: 63%;
	height: 45%;  */
	text-align: center-fixed;
	font-size: 14px; 
	border-style: solid;
	border-color: black;
	border-bottom: 1px solid #ddd;
	
}
#playerByTeam
{
	/* width: 63%;
	height: 45%;  */
	text-align: center-fixed;
	font-size: 14px; 
	border-style: solid;
	border-color: black;
	border-bottom: 1px solid #ddd;
	
}
#team
{
	color: black;
}


